*.s19
*.hex
*.bin
*.elf
*.map

*.d
*.o
*.su
*.cyclo
*.obj
*.lst
*.mxproject

# Build
build/
dist/
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.s19

cubeide_project/
Debug/
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.s19

# IDE
.vscode/
.settings/
*.project
*.pydevproject
*.cproject
*.list
*.cyclo
*.su

# Temp
*~
*.swp
*.tmp
*.swo

# Generated code
src/asw/app_models/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# OS
.DS_Store
Thumbs.db